body{
  background: #fffacc;
  font-family: 'Neucha', cursive;

}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  text-align: center;
  font-size: 18pt;
  font-weight: bold;

}
h2{
  font-size: 16pt;
  margin: 10px 0;
}
li{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0px 0px;
}

.create{
background: #ffc309;
border: 0px;
}

.in_work{
background:#e45f00;
}

.delivery{
background: #e42e00;
}

.customers{
background: #104b7e;
padding: 20px;
margin: 20px;
}

.customers a{
  color: white;
  text-decoration: none;
  margin: 20px;
  padding: 20px;
}
.customers a:hover{
  color: #ffc309;
}
.order{
background: #001127;
}
 ul{
   display: flex;
   flex-direction: column;
       }
  ul a{
    text-decoration: none;
    font-size: 16pt;
    font-weight: bold;
    color: white;
    padding: 20px 0px;
    width: 100%;
    text-align: center;

  }

  ul a:hover{
    color: black;
  }
#logo-header{
  margin: 10px;
  width: 200px;
}

#form{
  margin: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#form input{
width: 100%;
margin: 10px 0px;
}

#form textarea{
  width: 100%;
  margin: 10px 0px;
}
#form label{
  margin-top: 10px;
  margin-right: 10px;
  font-size: 14pt;
  padding: 0px 0px 5px 0px;
}

#form div{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 500px;
}
#date-time label{
margin: 0px 10px;
}
#date-time{
margin: 10px;
}
#date-time input{
  width: auto;
  display: inline;
}

#button-send{
  font-family: 'Neucha', cursive;
  font-size: 16pt;
  margin: 10px;
  padding: 10px 5px 5px 10px;
}

.choice li{
width: auto;
}
.choice li:hover{
  background: #FFE8A2;
}
#button_enter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.comment img{
    width: 30px;
    margin-right: 5px;
}

.comment {
  display: flex;
  align-items:flex-end;
}

.trash img{
  width: 40px;
}

#warning{
  background: #BFB8A3;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#warning div{
  margin-bottom: 20px;
}

#warning button{
  min-width: 100px;
  margin: 10px;
  padding: 5px;
  font-family: 'Neucha', cursive;
  font-size: 12pt;
}
